.wrapper {
  position: sticky;
  z-index: 10;
  top: 0;
  transition: top 0.3s, box-shadow 0.4s ease-out;
  background-color: $white;
}

.container {
  @include flexbox(row, false, center);
  gap: 4rem;
  padding: 1.5rem 0;
  margin: 0 auto;
  max-width: 96.4rem;

  @include tablet {
    width: calc(100% - 6.4rem);
    padding: 1.5rem 3.2rem; 
  }

  @include mobile {
    flex-wrap: wrap;
    gap: 1.6rem;
    padding: 1rem 2rem;
    width: 100%;
  }
}

.logo {
  position: relative;
  width: 11.2rem;
  height: 4rem;

  @include mobile {
    width: 8.4rem;
    height: 3rem;
  }
}

.searchBar {
  width: 45rem;

  @include tablet {
    // width: 34.4rem;
  }

  @include mobile {
    width: 100%;
    order: 1
  }
}

.rightItems {
  display: flex;
  gap: 4rem;
  margin-left: auto;
  color: $black;

  @include x-mobile {
    gap: 1.6rem;
  }

  h2 {
    font-size: 1.6rem;
    white-space: nowrap;
    @include mobile {
      font-size: 1.4rem;
    }
  }

  a, 
  .logoutBtn {
    @include hoverFloatEffect(y, -0.2rem);
  }
}
