.box {
  width: 100%;
  height: 11.6rem;
  width: 100%;

  img {
    cursor: pointer;
  }

  .label {
    display: block;
    margin-bottom: 8px;
  }

  .userInput {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 5.8rem;
    padding: 1.6rem 2rem;
    border: 1px solid $gray-30;
    border-radius: 0.6rem;
    outline: none;
  }

  .userTextArea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 15.3rem;
    padding: 1.6rem 2rem;
    border: 0.1rem solid $gray-30;
    border-radius: 0.6rem;
    outline: none;
  }

  .validation {
    color: $red-40;
    animation: shake 0.2s ease;
    margin: {
      top: 0.8rem;
      left: 0.8rem;
      bottom: 0;
    }
  }

  .swing {
    color: $red-40;
    animation: swing 0.3s ease;
    margin: {
      top: 0.8rem;
      left: 0.8rem;
      bottom: 0;
    }
  }

  .input {
    position: relative;
  }

  .unit {
    position: absolute;
    top: calc((5.8rem - 2rem) / 2);
    right: 1.5rem;
  }

  input:-webkit-autofill { 
    -webkit-box-shadow: 0 0 0 3rem $white inset ; -webkit-text-fill-color: $black; 
    box-shadow: 0 0 0 3rem $white inset ; -webkit-text-fill-color: $black;
  }

  input:-webkit-autofill, 
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active { 
    transition: background-color 5000s ease-in-out 0s; 
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-0.3rem);
  }
  75% {
    transform: translate(0.3rem);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes swing {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-0.3rem);
  }
  75% {
    transform: translate(0.3rem);
  }
  100% {
    transform: translate(0);
  }
}