.layout {
  .top {
    @include flexbox(column, space-between, center);
    padding: 6rem 0;

    @include tablet {
      padding: 4rem 0;
    }

    @include x-mobile {
      padding: 3rem 0;
    }
  }

  .bottom {
    &.isHidden {
      display: none;
    }

    @include flexbox(column, space-between, center);
    padding: 6rem 0 12rem;
    background-color: $gray-5;

    @include tablet {
      padding: 4rem 0 8rem;
    }

    @include x-mobile {
      padding: 2rem 0 6rem;
    }
  }
}
