.list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  color: $black;
  overflow-x: auto;
  overflow-y: overlay;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  
  @include mobile {
    font-size: 1.2rem;
  }
}

.item {
  display: grid;
  align-items: center;
}
