.shopCard {
  display: flex;
  width: 96.4rem;
  height: 35.6rem;
  background-color: $red-10;
  border-radius: 1.2rem;
  padding: 2.4rem;
  gap: 3rem;

  @include tablet {
    width: 68rem;
    height: 67.7rem;
    flex-direction: column;
    gap: 0;
  }

  @include mobile {
    width: 35.1rem;
    height: 44.9rem;
    padding: 1.9rem;
  }

  .shopImageContainer {
    position: relative;
    flex-shrink: 0;
    border-radius: 1.2rem;
    overflow: hidden;
    width: 53.9rem;

    @include tablet {
      width: 100%;
      height: 36rem;
      margin-bottom: 1.8rem;
    }

    @include mobile {
      height: 17.7rem;
      margin-bottom: 1.4rem;
    }

    .shopImage {
      object-fit: cover;
    }
  }

  .shopDescriptionContainer {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include tablet {
      height: 100%;
    }

    .subtitle {
      font-size: 1.6rem;
      color: $red-40;

      @include mobile {
        font-size: 1.4rem;
      }
    }

    .title {
      font-size: 2.6rem;
      margin-bottom: 1.5rem;

      @include tablet {
        margin-bottom: 1rem;
      }

      @include mobile {
        font-size: 2.4rem;
      }
    }

    .addressContainer {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;

      @include tablet {
        margin-bottom: 1.5rem;
      }

      .address {
        font-size: 1.6rem;
        color: $gray-50;

        @include mobile {
          font-size: 1.4rem;
        }

        .icon {
          margin-right: 0.5rem;
          width: 1.6rem;

          @include mobile {
            width: 1.6rem;
            height: 1.6rem;
          }
        }
      }
    }

    .description {
      margin-bottom: 1.8rem;
      line-height: 2.4rem;

      @include ellipsis(5);

      @include tablet {
        @include ellipsis(3);
      }

      @include mobile {
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }

    .buttonContainer {
      display: flex;
      gap: 1rem;
      margin-top: auto;
    }
  }
}
