.header {
  background-color: $red-10;
}

.noticeWrapper {
  @include flexbox(column, false, flex-start);
  gap: 3.2rem;
  margin: 0 auto;
  padding: 6rem 0 3rem 0;
  width: 100%;
  max-width: 96.4rem;
  gap: 3.1rem;
  h1 {
    font-size: 2.8rem;
  }
  overflow-x: hidden;
}

.firstLine {
  @include flexbox(row, space-between, center);
  width: 100%;
}

.noticeList {
  margin: 0 auto;
  max-width: 144rem;
}

.buttonContainer {
  @include flexbox(row, space-between, center);
  gap: 1rem;
}
