.button {
  width: 100%;
  border-radius: 0.6rem;
  border: 0.1rem solid $primary;
  white-space: pre;

  &.solid {
    background-color: $primary;
    color: $white;
    @include hoverScaleEffect(5);
  }

  &.outline {
    background-color: $white;
    color: $primary;
    @include hoverScaleEffect(5);
  }

  &.disable {
    background-color: $gray-40;
    color: $white;
    cursor: default;
    border: none;
  }

  &.large {
    font-size: 1.6rem;
    padding: 1.4rem;
    @include bold;
  }

  &.medium {
    font-size: 1.4rem;
    padding: 1.2rem;
    @include bold;
  }

  &.small {
    font-size: 1.2rem;
    padding: 1rem;
    @include regular
  }

  @include tablet {
    @include bold;

    &.large {
      &.responsive {
        font-size: 1.4rem;
        padding: 1.2rem;

        @media (max-width: 430px) {
          padding: 0.8rem;
        }
      }
    }
  }
}
