.container {
  @include flexbox(column);
  border: 1px solid $gray-20;
  border-radius: 0.6rem;
}

.option {
  padding: 1.2rem 2rem;
  font-size: 1.4rem;
  color: $black;
  background-color: $white;
  line-height: 2.2rem;

  &:not(:last-of-type) {
    border-bottom: 1px solid $gray-20;
  }

  &:hover {
    background-color: $gray-10;
  }
}

