.formContainer {
  @include flexbox(column, false, center);
  gap: 2rem;
  width: fit-content;
  min-width: 41rem;
  height: 69.7rem;
  padding: 2.4rem 3rem;
  background: $white;
  border-radius: 2.2rem;

  @include x-mobile {
    height: 100vh;
    width: 100vw;
    min-width: auto;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.titleContainer {
  @include flexbox(row);
  width: 100%;
  .titleItem {
    @include flexbox(column);
    width: 50%;
    height: 6rem;
    cursor: pointer;
    &:hover {
      .title {
        color: $gray-40;
      }
      .line {
        background-color: $gray-40;
      }
    }
    .title {
      @include flexbox(row, center, center);
      height: 5.6rem;
      @include bold;
      font-size: 2.8rem;
      transition: color 0.2s ease;
      color: $gray-20;
    }
    .title.active {
      color: $primary;
    }
    .line {
      height: 0.4rem;
      background-color: $gray-20;
      transition: background-color 0.2s ease;
    }
    .line.active {
      background-color: $primary;;
    }
  }
}

.form {
	@include flexbox(column, center, center);
	width: 100%;
	gap: 1rem;
}

.submitButton {
	@include flexbox(row, center, center);
  width: 100%;
  padding: 1.4rem 0;
	gap: 0.8rem;
	appearance: none;
	-webkit-appearance: none;
	border: none;
	border-radius: 0.6rem;
	background: $primary;
	cursor: pointer;

	@include bold;
	color: $white;
	font-size: 1.6rem;
	transition: transform 0.2s ease;
	&:hover {
		transform: scale(1.02);
	}
}
