.firstLine {
  @include flexbox(row, space-between, center);
  width: 100%;
}

.buttonContainer {
  @include flexbox(row, space-between, center);
  gap: 1rem;
}

.noticeList {
  margin: 0 auto;
  max-width: 144rem;
}

.keyword {
  color: $primary;
}

.pagination {
  margin-top: 4rem;

  @include mobile {
    margin-top: 3rem;
  }
}