.container {
  max-width: 96.4rem;
  width: 100%;
  background-color: inherit;
  overflow-x: clip;
  header.above {
    margin-bottom: 2.4rem;
  }

  header.below {
    margin-bottom: 3.2rem;
  }

  header {
    p {
      color: $primary;
      font-size: 1.6rem;
      margin-bottom: 0.8rem;
      font-weight: 700;
    }

    & > h2 {
      font-weight: 700;
      font-size: 2.8rem;
    }
  }
  
  article {
    position: relative;
    touch-action: none;
  }

  @include tablet {
    width: calc(100% - 6.4rem);
  }

  @include mobile {
    header {
      margin-bottom: 1.6rem;
    }
  }

  @media (max-width: 430px) {
    header {
      & > h2 {
        font-size: 2rem;
      }
    }
  }

  @include x-mobile {
    width: calc(100% - 2.4rem);
  }
}
