@import url(/styles/mixins.scss);

.container {
  max-width: 96.4rem;
  padding: 6rem 0;
  margin: 0 auto;
  
  header {
    margin-bottom: 0.8rem;
  }
  
  p {
    color: $red-50;
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  @include tablet {
    width: calc(100% - 6.4rem);
  }
}

