.wrapper {
  margin : 0 auto;
  border: 1px solid $gray-20;
  border-radius: 1rem;
  overflow: hidden;
  width: 96.4rem;

  & > * {
    margin-bottom: 1.2rem;
  }

  @include tablet {
    max-width: 96.4rem;
  }

  @include mobile {
    width: 35.1rem;
  }
}

.table {
  border-spacing: 0;
  width: 100%;
  color: $black;
  overflow-x: overlay;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  word-break: normal;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  th {
    padding: 1.4rem 1.2rem;
    background-color: $red-10;
    text-align: start;;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.2rem;

    @include mobile {
      padding: 1.2rem 0.8rem;
      font-size: 1.2rem;
      line-height: 1.6rem;
    }
  }

  td {
    padding: 2rem 1.2rem;
    border-bottom: 1px solid $gray-20;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;

    @include mobile {
      padding: 1.2rem 0.8rem;
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
  }

  th, td {
    &:first-of-type {
      width: 22.8rem;

      @include mobile {
        width: 18.9rem;
      }
    }

    &:nth-of-type(2) {
      width: 30rem;

      @include mobile {
        display: none;
      }
    }

    &:nth-of-type(3) {
      width: 20rem;

      @include mobile {
        display: none;
      }
    }
    
    &:last-of-type {
      @include tablet {
        border-left: 1px solid $gray-20;
      }
    }
  }
  
  span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
