.twiggler {
	background: $red-40;
	height: 1rem;
	width: 8rem;
	border-radius: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: twiggle 1.5s ease-in-out infinite;

	&::before,
	&::after {
		content: '';
		position: absolute;
		height: 1rem;
		border-radius: 1rem;
		left: 1rem;
		animation: twiggle 1.5s ease-in-out infinite;
	}

	&::before {
		background: $primary;
		top: 2rem;
		width: 5rem;
	}

	&::after {
		background: $red-30;
		top: -2rem;
		width: 6rem;
	}
}

@keyframes twiggle {
  0% {
    transform: translateX(1.5rem) scale(1);
  }

  50% {
    transform: translateX(-3rem) scale(1.1);
		opacity: 0.5;
  }

  100% {
    transform: translateX(1.5rem) scale(1);
  }
}
