/* grayscale*/
$black: #111322 !default;
$gray-50: #7d7986 !default;
$gray-40: #a4a1aa !default;
$gray-30: #cbc9cf !default;
$gray-20: #e5e4e7 !default;
$gray-10: #f2f2f3 !default;
$gray-5: #fafafa !default;
$white: #ffffff !default;

/* red */
$red-50: #EA3C12 !default;
$red-40: #ff4040 !default;
$red-30: #ff8d72 !default;
$red-20: #ffaf9b !default;
$red-10: #ffebe7 !default;


/* blue */
$blue-20: #0080ff !default;
$blue-10: #cce6ff !default;

/* green */
$green-20: #20a81e !default;
$green-10: #d4f7d4 !default;

/* kaako */
$kakao: #fee500 !default;
