.container {
	position: absolute;
	top: 1rem;
	background-color: rgba(0,0,0,0.8);
	margin: 1.6rem auto;
	visibility: visible;
	color: $white;
	width: fit-content;
	padding: 10px;
	border-radius: 4px;
	font-size: 1.8rem;
	text-align: center;
	line-height: 1.25rem;
	letter-spacing: -0.02rem;
	white-space: pre-line;
	z-index: 100;
	transition: visibility 0.5s, color 0.5s, background-color 0.5s, width 0.5s,
	padding 0.5s ease-in-out;

	&.hidden {
		visibility: hidden;
		background-color: transparent;
	}
}
